#main-jumbo {
  border: solid;
  width: 100vh;
}

#main-h1 {
  text-align: center;
  color: red;
  font-size: 124px;
}

#progress-container {
  border: solid;
}

#add-task-button {
  margin-top: 20px;
  margin-left: 86%;
}
